<div *ngIf="dataList.length > 0">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
      <div class="mgb">
        <i class="fa fa-search ic-search" aria-hidden="true"></i>
        <input type="text" class="in-search" placeholder="search">
      </div>
    </div>
    <div class="col-md-7">

    </div>
  </div>


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
      <div class="box">
        <div [ngClass]="item.active ? 'item-active': 'item'" *ngFor="let item of dataFilterListLeft;let i = index"
          (click)="selected(item,i)">
          {{item.name}}
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="row center">
        <div class="col-md-12 pd-action">
          <button type="button" class="btn btn-success" (click)="confirmSelect()"
            [disabled]="dataListRight.length >= 10"><b class="color-white">เลือก</b></button>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-danger"><b class="color-white">
              ไม่เลือก</b>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="count">เลือกแล้ว {{dataListRight.length}} / 10</div>
      <div class="box">
        <div [ngClass]="item.active ? 'item-active': 'item'" *ngFor="let item of dataListRight;let i = index" (click)="unselected(item, i)">
          {{item.name}}
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>